/* Merchant Form Styles */
#myForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-group {
    margin-bottom: 20px;
}
.head{
    text-align: center;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
}

checkbox-label {
    display: block;
    margin-top: 10px;
}

button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}

